<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="59921d13-e50a-46d9-afc1-bd24590c3f7a" Publisher="CN=James" Version="1.0.0.9" />
  <Properties>
    <DisplayName>App2</DisplayName>
    <PublisherDisplayName>James</PublisherDisplayName>
    <Logo>Assets\StoreLogo100.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="App2.App">
      <m2:VisualElements DisplayName="App2" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="App2" ForegroundText="light" BackgroundColor="#464646">
        <m2:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#23232E" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <m2:DeviceCapability Name="usb">
      <m2:Device Id="vidpid:0403 6001">
        <m2:Function Type="name:vendorSpecific" />
      </m2:Device>
    </m2:DeviceCapability>
  </Capabilities>
</Package>